@{
    ViewBag.Title = "Медиа - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="медиа Александра Федотова, фото Алксандра Федотова, видео Александра Федотова, музыка, скрипка, видео скрипка" />
    <meta name="description" content="Аудио, видео и фото с участием музыканта, педагога, скрипача Александры Федотовой - яркой представительницей русской скрипичной школы." />
    @Styles.Render("~/bundles/css/violin") 
}

@section head
{
    @Scripts.Render("~/bundles/medi") 
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax") 
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Медиа
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")<span class="divider">/</span>
                </li>
                <li class="active">Медиа</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="mediaTab" role="tablist">
                <li class="active">
                    <a data-toggle="tab" role="tab" href="#Album">Фото</a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#Video">Видео</a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#Audio">Аудио</a>
                </li>
            </ul>
            <div class="tab-content" id="mediaTabContent">
                <div id="Album" class="tab-pane in active">
                    @Html.Partial("Album")
                </div>
                <div id="Video" class="tab-pane">
                    @Html.Partial("Video")
                </div>
                <div id="Audio" class="tab-pane">
                    @Html.Partial("Audio")
                </div>
            </div>
        </div>
    </div>
</div>
<hr>