@{
    ViewBag.Title = "Медиа - ";
}

@Styles.Render("~/css/violin")

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Медиа
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li class="active">Медиа</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="mediaTab">
                <li class="active">
                    <a data-toggle="tab" href="#media-photo">Фото</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#media-video">Видео</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#media-audio">Аудио</a>
                </li>
            </ul>
            <div class="tab-content" id="mediaTabContent">
                <div id="media-photo" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4 portfolio-item">
                            <a href="@Url.Action("Photo","Mediya", new { album = "Studio" })" class="crop">
                                <img src="../img/Studio/Studio_12m.jpg" class="crop" alt="Обложка альбома Студио">
                            </a>
                            <h3>Студийный</h3>
                        </div>
                        <div class="col-md-4 portfolio-item">
                            <a href="@Url.Action("Photo","Mediya", new { album = "Concert" })" class="crop">
                                <img src="../img/Concert/Concert_3m.jpg" class="crop" alt="Обложка альбома Концерт">
                            </a>
                            <h3>Концертный</h3>
                        </div>
                    </div>
                </div>
                <div id="media-video" class="tab-pane fade">
                    @Html.Partial("Video")
                </div>
                <div id="media-audio" class="tab-pane fade">
                    @Html.Partial("Audio")
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
