@model IEnumerable<Violin.Domain.Photo> 

@{
    ViewBag.Title = "Медиа - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="концерты Александра Федотова, концерты скрипка, фото Александра Федотова, фото скрипачка, выдающая скрипачка" />

    @Scripts.Render("~/bundles/photoswipejs")  
    @Styles.Render("~/bundles/photoswipecss")

    @Styles.Render("~/bundles/css/violin")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Фото
                <small>галлерея</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")<span class="divider">/</span>
                </li>
                <li>
                    @Html.ActionLink("Фото", "Index", "Mediya")<span class="divider">/</span>
                </li>
                <li class="active">@Model.First().album</li>
            </ol>
        </div>
    </div>

    <div id="photopart" class="col-lg-12">
        <div class="row">
            <div id="demo-test-gallery" class="demo-gallery container-flex" data-pswp-uid="1">
                @Html.Partial("PhotoPart", Model)
            </div>
        </div>

        @Html.Partial("~/Views/PhotoSwipe/PhotoSwipePart.cshtml")

    </div>
    <div id="loadPartPhoto" style="display: none">
        <img src="@Href("~/img/AjaxLoader.gif")" alt="Ожидание" />
    </div>
</div>
<hr/>

@Scripts.Render("~/bundles/photoswipemanjs")

<script type="text/javascript">
    var pageNo = 0;
    var isPageLoad = false;

    $(window).scroll(function () {
            if($(window).scrollTop() == $(document).height() - $(window).height())
            {
                if (pageNo > -1 && !isPageLoad) {
                    isPageLoad = true;
                    pageNo++;
                    var alb = "@ViewBag.album";
                    $.ajax({
                        url: 'Photo',
                        data: { 'page': pageNo, 'album': alb },
                        success: function (data) {
                            if (data != '') {
                                $('#demo-test-gallery').append(data);
                            }
                            else {
                                pageNo = -1; 
                            }
                            $("#loadPartPhoto").hide();
                            isPageLoad = false;
                        }
                    });

                }
            }
    });
</script>
