@{
    ViewBag.Title = "Blog Home 1";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Новости
                @*<small>Новости</small>*@
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li class="active">Новости</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @*<h1>
                В Ярославле пройдет Коган-фестиваль
            </h1>*@
            <p class="lead">
                В Ярославле пройдет Коган-фестиваль
            </p>
            @*<hr>*@
            <p><i class="fa fa-clock-o"></i> Октябрь 21, 2016 - 11:00</p>
            @*<hr>*@
            <p>С 13 по 19 ноября в Ярославской области состоится III Международный музыкальный «Коган-фестиваль». Как сообщили корреспонденту ИА REGNUM в региональном департаменте культуры, в рамках программы запланированы 3 концерта и две творческие встречи.</p>
            <a href="https://regnum.ru/news/cultura/2195009.html">Источник</a>
            <hr>
            @*<h1>
                <a href="@Url.Action("Post")">Another Blog Post</a>
            </h1>*@
            <p class="lead">Дни высокой музыки в Арктике. Яркие моменты</p>
            <p><i class="fa fa-clock-o"></i> Сентябрь 20, 2016 - 12:00</p>
            @*<a href="@Url.Action("Post")">
                <img class="img-responsive" src="http://placehold.it/1600x500">
            </a>*@
            <div class="portfolio-item">
                <iframe src="https://www.youtube.com/embed/Er8Lj2QsH7g" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>В столице Ненецкого округа прошло одно из самых ярких культурных событий года — III Арктический фестиваль классической музыки «Дни высокой музыки в Арктике». Вечную классику и инновационные технологии представил ценителям музыки всемирно известный скрипачи Дмитрий Коган и Александра Федотова в сопровождении камерного оркестра «Московская камерата». Возможность послушать шедевры мировых произведений вживую подарила любителям музыки компания «Лукойл-Коми». Благодаря их поддержке в рамках соглашения о сотрудничестве с Администрации НАО Арктический фестиваль классической музыки уже третий год проходит в округе.</p>
            @*<a href="@Url.Action("Post")" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a>*@
            <hr>
            <p class="lead">Мастер-классы для юных воспитанников школ искусств проводят лучшие музыканты России</p>
            <p><i class="fa fa-clock-o"></i> Сентябрь 16, 2016 - 10:00</p>
            @*<a href="@Url.Action("Post")">
            <img class="img-responsive" src="http://placehold.it/1600x500">
            </a>*@
            <p>В Детской школе искусств города Нарьян-Мара урок по классу балалайки провели Дмитрий Буцыков и Дмитрий Косяков. Музыканты из Самары, победители и лауреаты международных и всероссийских конкурсов, поработали с нарьянмарскими учениками музыкальной школы как преподаватели, сыграли свои произведения, дали профессиональные советы и рекомендации.</p>
            <p>В аналогичном формате урок по классу баяна в это же время в поселке Искателей (для юных баянистов двух школ искусств) провел Юрий Солаев – лауреат всероссийских и дипломант международных конкурсов, лауреат всероссийских премий, стипендиат Российского Фонда Культуры и Правительства РФ.</p>
            <p>17 сентября мастер-классы по классу фортепиано и скрипки в школах искусств округа проведут музыканты камерного оркестра «Московская камерата». Участниками мастер-классов станут восемь юных музыкантов НАО, показавших в процессе обучения в музыкальных школах лучшие результаты.</p>
            <p>Высокая музыка стала доступней для жителей Ненецкого округа, в том числе и юных музыкантов, благодаря реализации проекта Арктический фестиваль классической музыки «Дни Высокой музыке в Арктике», который с 2014 года стал в НАО традиционным.</p>
            <p>В 2016 году фестиваль приурочен к празднованию Дня образования Ненецкого округа и Дня нефтяника. Традиционно мероприятие организовано при поддержке ПАО «ЛУКОЙЛ» в рамках соглашения о сотрудничестве нефтяников и Администрации НАО.</p>
            <p>Учредителем фестиваля является Фонд поддержки уникальных культурных проектов им. Когана и Администрация НАО.</p>
            <a href="http://adm-nao.ru/press/government/12005/">Источник</a>
            <hr>        
            @*<h1>
                <a href="@Url.Action("Post")">Third Blog Post Entry</a>
            </h1>
            <p class="lead">
                by <a href="#">Start Bootstrap</a>
            </p>*@
            @*<hr>
            <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
            <hr>
            <a href="@Url.Action("Post")">
                <img class="img-responsive" src="http://placehold.it/1600x500">
            </a>
            <hr>
            <p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science...</p>
            <a href="@Url.Action("Post")" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a>*@
            @*<hr>
            <ul class="pager">
                <li class="previous">
                    <a href="#">← Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer →</a>
                </li>
            </ul>*@
        </div>
        @*<div class="col-lg-4">
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Popular Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#dinosaurs">Dinosaurs</a>
                            </li>
                            <li>
                                <a href="#spaceships">Spaceships</a>
                            </li>
                            <li>
                                <a href="#fried-foods">Fried Foods</a>
                            </li>
                            <li>
                                <a href="#wild-animals">Wild Animals</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#alien-abductions">Alien Abductions</a>
                            </li>
                            <li>
                                <a href="#business-casual">Business Casual</a>
                            </li>
                            <li>
                                <a href="#robots">Robots</a>
                            </li>
                            <li>
                                <a href="#fireworks">Fireworks</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Bootstrap's default well's work great for side widgets! What is a widget anyways...?</p>
            </div>
            <!-- /well -->
        </div>*@
    </div>
</div>