@model AlexandraViolin.Models.EmailModel

@section metatags
{
    <script>
        function checkParams() {
            var name = $('#FromName').val();
            var email = $('#FromEmail').val();

            if(name.length != 0 && email.length != 0) {
                $('#submit').removeAttr('disabled');
            } else {
                $('#submit').attr('disabled', 'disabled');
            }
        }
        window.onload = function () {
            checkParams();
        }
    </script>
}

@using (Ajax.BeginForm(
                            "Feedback",
                            "Lessons",
                            new AjaxOptions
                            {
                                HttpMethod = "post",
                                UpdateTargetId = "emailSend",
                                LoadingElementId = "sendingProgress",
                                InsertionMode = InsertionMode.Replace,
                                OnSuccess = "MailSended"
                            }))
{
        <div id="emailSend" class="row">
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.FromName)
                @Html.TextBoxFor(model => model.FromName, new { @class = "form-control", @onkeyup = "checkParams()" })
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.FromEmail)
                @Html.TextBoxFor(model => model.FromEmail, new { @class = "form-control", @onkeyup = "checkParams()", @onload = "checkParams()" }) 
                @Html.ValidationMessageFor(model => model.FromEmail, "", new { @class = "text-danger" }) 
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.Phone)
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
            </div>
            <div class="form-group col-lg-12">
                @Html.LabelFor(model => model.Body)
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
            </div>
            <div class="form-group col-lg-12">
                <input id="submit" type="submit" class="btn btn-primary" value="Отправить" />
                <span id="sendingProgress" style="@ViewBag.sendingProgress">
                    идет отправка сообщения...
                    <img src="@Href("~/img/AjaxLoader.gif")" alt="Ожидание" />
                </span>
            </div>
        </div>
}
