@{
    ViewBag.Title = "Уроки";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Уроки
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li class="active">Уроки</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="../img/Lesson/LessonMain.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Уроки вдохновения</h2>
            <p>
                Окончив с отличием <b>ЦМШ при МГК им. П.И.Чайковского</b> и впоследствие <b>Московскую консерваторию и аспирантуру</b>, я  получила дипломы с квалификацией солист, артист оркестра и камерного ансамбля, педагог. Всю свою творческую жизнь я занимаюсь тем, что люблю и умею: я с 10 лет на международной сцене играя соло и в ансамблях,
                концертмейстер в одном из лучших камерных оркестрах <b>"Московская камерата"</b>, а также преподаю уроки игры на скрипке. Мне посчастливилось учиться у лучших педагогов современности, мои профессора <b>Игорь Фролов</b> и <b>Павел Верников</b> - яркие представители русской скрипичной школы, выпускники класса одного из лучших скрипачей 20 века <b>- Давида Ойстраха</b>.
                Во время обучения в аспирантуре <b>МГК им. Чайковского</b> работала ассистентом в классе <b>Игоря Фролова</b>, получив бесценный преподавательский опыт. Огромную роль в формирование моего исполнительского стиля и мастерства сыграло обучение в классе <b>Павла Верникова</b>. Участие в международных мастер-классах под его руководством обогатило мой репертуар.
                Теперь хочу делится своими знаниями и мастерством с юными скрипачами.
                <b>Это и есть - преемственность поколений</b>.
                Если вы хотите научится играть на скрипке, подготовится к важному концерту, экзамену, конкурсу, или вы просто любите скрипку, и хотите познакомиться с этим удивительным инструментом поближе, я  с удовольствием вам помогу.
                Мой репертуар включает в себя музыку различных эпох от барокко до современных композиторов, и я стараюсь найти индивидуальный подход к каждому студенту, помогая раскрыть творческую индивидуальность. Особое внимание уделяю постановке рук, качеству звука, чистоте интонации и технической свободе.
            </p>
            <p>
                Мой профессиональный опыт:
            </p>
            <ul>
                <li><b>ДШИ им. Стравинского - педагог класса скрипки (2008-2011гг)</b></li>
                <li><b>МГК им. П.И.Чайковского - ассистент профессора (2008-2012гг)</b></li>
                <li><b>проводила открытые мастер-классы в г. Нюренгри (2015г), г.Нарьян-Мар (2015, 2016гг)</b></li>
                <li><b>частные уроки (с 2004г)</b></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-12">
        <div>
            <h2 class="page-header">Фото</h2>
        </div>

        <div id="photopart">
            @Html.Partial("LessonPart")
        </div>

        <div id="loadPartPhoto" style="@ViewBag.sendingProgress">
            <img src="@Href("~/img/AjaxLoader.gif")" alt="Ожидание" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Оптаврить сообщение Александре Федотовой</h2>
            <p>Если у Вас есть вопрос, Вам нужен совет, консультация или урок - напишите мне.</p>
        </div>
    </div>

    @*<div id = "dvLogin"> 
        @Html.Partial("Login")
    </div>*@

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("Feedback", new AlexandraViolin.Models.EmailModel() )
        </div>
    </div>
</div>
<hr>

<script type="text/javascript">
var pageNo = 0;
var isPageLoad = false;

$(window).scroll(function () {
        if($(window).scrollTop() == $(document).height() - $(window).height())
        {
            if (pageNo > -1 && !isPageLoad) {
                isPageLoad = true;
                pageNo++;
                var alb = "@ViewBag.album";
                $.ajax({
                    url: 'Photo',
                    data: { 'page': pageNo, 'album': alb },
                    success: function (data) {
                        if (data != '') {
                            $('#photopart').append(data);
                        }
                        else {
                            pageNo = -1;
                        }
                        $("#loadPartPhoto").hide();
                        isPageLoad = false;
                    }
                });

            }
        }
});
</script>