@helper IsMenuSelected(string actionName, string controllerName, string className)
{
    var conname = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    if (conname == controllerName.ToLower())
    {
        @className;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("metatags", false)
    <title>
        @ViewBag.Title 
    </title>

    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/violin")
    @RenderSection("head", false)
    
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("AF", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="biography" class="@IsMenuSelected("Index", "Biography", "active")">
                       @Html.ActionLink("ОБО МНЕ", "Index", "Biography")
                    </li>
                    <li id="afisha" class="@IsMenuSelected("Index", "Afisha", "active")">
                        @Html.ActionLink("АФИША", "Index", "Afisha")
                    </li>
                    <li id="orchestra" class="@IsMenuSelected("Index", "Orchestra", "active")">
                        @Html.ActionLink("ОРКЕСТР", "Index", "Orchestra")
                    </li>
                    <li id="mediya" class="@IsMenuSelected("Index", "Mediya", "active")">
                        @Html.ActionLink("МЕДИА", "Index", "Mediya")
                    </li>
                    <li id="news" class="@IsMenuSelected("Index", "News", "active")">
                        @Html.ActionLink("НОВОСТИ", "Index", "News")
                    </li>
                    <li id="lessons" class="@IsMenuSelected("Index", "Lessons", "active")">
                        @Html.ActionLink("УРОКИ", "Index", "Lessons")
                    </li>
                    <li id="contact" class="@IsMenuSelected("Index", "Contact", "active")">
                        @Html.ActionLink("КОНТАКТЫ", "Index", "Contact")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    
</body>
</html>