@helper IsMenuSelected(string actionName, string controllerName, string className)
{
    var conname = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    if (conname == controllerName.ToLower())
    {
        @className;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modern Business - @ViewBag.Title</title>

    <!-- Bootstrap -->
    @*<link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">*@
    @*<link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">*@

    @Styles.Render("~/css") 

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@

    @Scripts.Render("~/bundles/jqueryajaxvalidate") 

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                @Html.ActionLink("AF", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="biography" class="@IsMenuSelected("Index", "Biography", "active")">
                       @Html.ActionLink("ОБО МНЕ", "Index", "Biography")
                    </li>
                    <li id="afisha" class="@IsMenuSelected("Index", "Afisha", "active")">
                        @Html.ActionLink("АФИША", "Index", "Afisha")
                    </li>
                    <li id="orchestra" class="@IsMenuSelected("Index", "Orchestra", "active")">
                        @Html.ActionLink("ОРКЕСТР", "Index", "Orchestra")
                    </li>
                    <li id="mediya" class="@IsMenuSelected("Index", "Mediya", "active")">
                        @Html.ActionLink("МЕДИА", "Index", "Mediya")
                    </li>
                    <li id="news" class="@IsMenuSelected("Index", "News", "active")">
                        @Html.ActionLink("НОВОСТИ", "Index", "News")
                    </li>
                    @*<li id="forum" class="@IsMenuSelected("Index", "Forum", "active")">
                        @Html.ActionLink("ФОРУМ", "Index", "Forum")
                    </li>*@
                    <li id="lessons" class="@IsMenuSelected("Index", "Lessons", "active")">
                        @Html.ActionLink("УРОКИ", "Index", "Lessons")
                    </li>
                    <li id="contact" class="@IsMenuSelected("Index", "Contact", "active")">
                        @Html.ActionLink("КОНТАКТЫ", "Index", "Contact")
                    </li>
                    @*<li id="faq" class="@IsMenuSelected("Index", "Faq", "active")">
                        @Html.ActionLink("ВОПРОСЫ", "Index", "Faq")
                    </li>*@
                    @*<li id="Media" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="1columnportfolio">
                                @Html.ActionLink("1 Column Portfolio", "OneColumn", "Media")
                            </li>
                            
                            
                            
                            <li id="singleportfolioitem">
                                @Html.ActionLink("Single Portfolio Item", "SingleItem", "Media")
                            </li>
                        </ul>
                    </li>*@
                    @*<li id="blog" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="bloghome1">
                                @Html.ActionLink("Blog Home 1", "Home1", "Blog")
                            </li>
                            
                            <li id="blogpost">
                                @Html.ActionLink("Blog Post", "Post", "Blog")
                            </li>
                        </ul>
                    </li>*@
                    @*<li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage">
                                @Html.ActionLink("Full Width Page", "FullWidth", "Other")
                            </li>
                            <li id="sidebarpage">
                                @Html.ActionLink("Sidebar Page", "Sidebar", "Other")
                            </li>
                            <li id="faq">
                                @Html.ActionLink("FAQ", "Faq", "Other")
                            </li>
                            <li id="404">
                                @Html.ActionLink("404", "FourOhFour", "Other")
                            </li>
                            
                        </ul>
                    </li>*@
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    @*<div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>

    </div>*@
    <!-- /.container -->

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
    @*<script src="@Url.Content("/js/bootstrap.js")"></script>*@
    @*<script src="@Url.Content("/js/modern-business.js")"></script>*@
    @*<script src="@Url.Content("/js/violin.js")"></script>*@

    @Scripts.Render("~/bundles/bootstrapviolin") 
</body>
</html>