@{
    ViewBag.Title = "Афиша - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="Александра Федотова, афиша, камерный оркестр, Московская камерата" />
    <meta name="description" content="Афиша концертов с участием музыканта и скрипача Александры Федотовой." />
    @Styles.Render("~/bundles/photoswipecss")
    @Styles.Render("~/bundles/css/violin")
}

@section head
{
    @Scripts.Render("~/bundles/photoswipejs")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")    
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Афиша
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li class="active">Афиша</li>
            </ol>
        </div>
    </div>

    <div id="calendar" class="col-lg-12">
        <div class="row">
            <div id="demo-test-gallery" class="demo-gallery" data-pswp-uid="1">
                @Html.Partial("AfishaPart")
            </div>
        </div>

        @Html.Partial("~/Views/PhotoSwipe/PhotoSwipePart.cshtml")

    </div>
    <div id="loadPartPhoto" style="@ViewBag.sendingProgress">
        <img src="@Href("~/img/AjaxLoader.gif")" alt="Ожидание" />
    </div>
</div>
<hr>

@Scripts.Render("~/bundles/photoswipemanjs") 

<script type="text/javascript">
    var pageNo = 0;
    var isPageLoad = false;

    $(window).scroll(function () {
            if($(window).scrollTop() == $(document).height() - $(window).height())
            {
                if (pageNo > -1 && !isPageLoad) {
                    isPageLoad = true;
                    pageNo++;
                    $.ajax({
                        url: 'Afisha',
                        data: { 'page': pageNo },
                        success: function (data) {
                            if (data != '') {
                                $('#demo-test-gallery').append(data);
                            }
                            else {
                                pageNo = -1;
                            }
                            $("#loadPartPhoto").hide();
                            isPageLoad = false;
                        }
                    });

                }
            }
    });
</script>