@{
    ViewBag.Title = "Аудио - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="Аудио Александра Федотова, музыка, скрипка, видео скрипка" />
    <meta name="description" content="Аудио записи с педагога, скрипачки Александры Федотовой - яркой представительницей русской скрипичной школы." />
    @Styles.Render("~/bundles/violincss")
    @Styles.Render("~/bundles/bar-uicss")
    @Styles.Render("~/bundles/material-iconscss")
}

@section head
{
    @Scripts.Render("~/bundles/soundmanager2js")
    @Scripts.Render("~/bundles/bar-uijs")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Аудио
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("Audio")
        </div>
    </div>
</div>
<hr>


